body{
    background-color: white;
    color: black;
    font-family: Georgia

}

article {
    text-align: center;
}
.hidden {
    opacity: 0;
}

.top{
    text-align: center;
    color: black;
    font-family: Georgia;
    margin-bottom: 40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}





.inputs{
    
}

