body{
    background-color: fuchsia;
}

.hidden {
    opacity: 0;
}

h1{
    text-align: center;
    font-family: Georgia;
}

.top{
    text-align: center;
    color: blueviolet;
    font-family: Georgia

}

p {
    font-family: Georgia
}